@font-face {
  font-family: "SeoulAlrim";
  src: url("/assets/styles/fonts/SeoulAlrimTTF-Bold/SeoulAlrimTTF-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "SeoulAlrim";
  src: url("/assets/styles/fonts/SeoulAlrimTTF-Bold/SSeoulAlrimTTF-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SeoulAlrim";
  src: url("/assets/styles/fonts/SeoulAlrimTTF-Bold/SeoulAlrimTTF-ExtraBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "SeoulAlrim";
  src: url("/assets/styles/fonts/SeoulAlrimTTF-Bold/SeoulAlrimTTF-Heavy.ttf");
  font-weight: 800;
}
body {
  font-family: "SeoulAlrim", sans-serif;
}
