@use "./fonts";
@use "./pages"; // Layout.module.scss

body {
  color: #333;
  max-width: 800px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-header {
  padding: 10px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.logo-img {
  width: 150px;
}
.menu-icon {
  cursor: pointer;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 270px;

  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  z-index: 1000;
  transform: translateX(100%);
}

.drawer.open {
  transform: translateX(0%);
}

.drawer-close-btn {
  margin-bottom: 20px;
  border: 0;
  background-color: transparent;
  font-size: 30px;
  padding: 10px;
}

.drawer-nav {
  display: flex;
  flex-direction: column;
  > a {
    border-top: 1px solid #ddd;
    padding: 15px;
  }
}

.menu-group {
  cursor: pointer;
  border-top: 1px solid #ddd;
  &:last-child {
    border-bottom: 1px solid #ddd;
  }
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.submenu {
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  border-top: 1px solid #ddd;
  > a {
    padding: 12px;
    &:not(:first-child) {
      border-top: 1px solid #ddd;
    }
  }
}

.drawer-nav a {
  text-decoration: none;
  color: #333;
}

.layout-main {
  margin-top: 60px;
  padding: 20px;
  flex: 1;
}

.layout-footer {
  padding: 10px;
  border-top: 1px solid #ccc;
  font-size: 12px;
  line-height: 1.2;
  p {
    margin: 5px 0;
    text-align: center;
  }
}

.Swiper2 {
  margin-top: 10px;
}
/* Swiper 내비게이션 버튼 스타일 커스텀 */
.Swiper2 .swiper-button-prev::after,
.Swiper2 .swiper-button-next:after {
  font-size: 25px; /* 아이콘 크기 줄이기 */
}

/* 위치 조정 */
.Swiper2 .swiper-button-prev {
  left: 0px; /* 왼쪽으로 조금 밀기 */
}

.Swiper2 .swiper-button-next {
  right: 0px; /* 오른쪽으로 조금 밀기 */
}
/* 위치 조정 */
.Swiper3 .swiper-button-prev {
  left: 0px; /* 왼쪽으로 조금 밀기 */
}

.Swiper3 .swiper-button-next {
  right: 0px; /* 오른쪽으로 조금 밀기 */
}
.text-center {
  text-align: center;
}
.p-tabview .p-tabview-panels {
  padding: 1rem;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding: 1rem;
}
